* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: "Roboto", Arial, sans-serif;
}

/* ----- PORTADA ----- */
.portada {
    width: 100vw;
    height: auto;
    background: #000;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .5s ease-out all;
}

.portada.oculta {
    transform: translateY(100%);
}

.portada .header {
    margin-bottom: 6vh;
    text-transform: uppercase;
    letter-spacing: 0.24vw; 
    width: 100%;
    height: auto;
}

.portada .header .logo {
    width: 20vw; 
    height: auto;
}

.portada .header .logotipo {
    font-size: 4vw; 
    font-weight: 900;
    margin-bottom: 2vh; 
}

.portada .header .mensaje {
    font-size: 2.4vw; 
    font-weight: 600;
}

main {
    max-width: 1000px;
    margin: auto;
    width: 90%;
    padding: 60px 0;
    font-size: 1.44vw; 
    line-height: 2.24vw; 
    text-align: left;
}

/* ----- Cuenta Regresiva ----- */
#cuenta {
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
    color: #FF5100;
}

.simply-section {
    background: #fff;
    width: 14.4vw; 
    height: 14.4vw; 
    margin: 0 1.6vw; 
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.4vw double #FF5100; 
}

.simply-amount {
    display: block;
    font-size: 4vw; 
    font-weight: 700;
}

.simply-word {
    font-weight: 300;
    font-size: 2.4vw;
}

@media (max-width: 500px) {
    .portada .header .logo {
        width: 40vw; /* Ajustar tamaño del logo para móviles */
    }

    .portada .header .logotipo {
        font-size: 8vw; /* Ajustar tamaño de la tipografía del logotipo para móviles */
    }

    .portada .header .mensaje {
        font-size: 5vw; /* Ajustar tamaño de la tipografía del mensaje para móviles */
    }

    main {
        font-size: 4vw; /* Ajustar tamaño de la tipografía del contenido principal para móviles */
        line-height: 5vw; /* Ajustar la altura de línea para móviles */
    }

   #cuenta {
        flex-direction: column; /* Cambiar la dirección del flex para que los elementos estén uno debajo del otro */
        gap: 20px;
    }

    .simply-section {
        width: 30vw; /* Ajustar tamaño de las secciones del contador para móviles */
        height: 30vw; /* Ajustar tamaño de las secciones del contador para móviles */
        margin: 0 3vw; /* Ajustar margen para móviles */
        border: 1vw double #FF5100; /* Ajustar el borde para móviles */
    }

    .simply-amount {
        font-size: 8vw; /* Ajustar tamaño de la tipografía de la cantidad del contador para móviles */
    }

    .simply-word {
        font-size: 5vw; /* Ajustar tamaño de la tipografía de la palabra del contador para móviles */
    }
}